---
layout: nil
title: About Me
desctiption: 斉藤祐也について
---
{% include system_head.html %}
<body>
	<div id="page" class="page-about">
		{% include header.html %}
		<div id="main" role="main">
			<article class="the-article">
			<div class="article-inner">
				<div class="content">
					<header classs="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div>
					</header>

					<div class="bd">
						<div class="entry-content">

							<p>私、斉藤祐也は現在に株式会社サイバーエージェントにてフロントエンドデベロッパとして働いている33歳。 <br>
								アメリカ、ラスベガスにてプリントジャーナリズムの学士を取得、卒業後いろいろあって現職にお世話になっています。  </p>

							<p>ジャーナリズムを専攻したのはホンの気の迷いでしたが、情報のカケラを集めて、1つのストーリを組み立てていくという作業は思いのほか自分に合っていることが判明。 <br>
								新聞では働いてませんが情報戦争のウェブの世界であの時培った技術は役に立ってます。</p>
							<p>HTMLとCSSが私のメインエリアで、JSを書いたり、Smartyなどのテンプレ言語も使ったり、ワイヤフレームを書いたり、プロジェクトの初動期のリサーチをしたり、現職のデザインレギュレーションを書いたりするのが主な仕事です。 <br>
								もちろん、ビジュアルデザインの担当もするし、インタラクションやユーザビリティ、SEOについての問題を解決するのをサポートしたりもします。 <br>
								私の仕事を一言で表現すると問題を解決する提案を実現することです。</p>

							<h2 id="about-question">記事のリクエスト、質問など</h2>

							<p>記事への質問、リクエストなどは、<a href="https://twitter.com/intent/user?user_id=107867741">Twitter@cssradar</a>か、cssradar+ask@gmail.comにて受け付けていますが、原文あっての翻訳ですので、すべてのリクエストに対応できるわけではないことをあらかじめご了承ください。</p>
						</div>
					</div>
				</div>
			</div>
			</article>
		</div><!-- id="main" -->
		{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
