// ==========================================================================
// config
// ==========================================================================

// grid
column-width = 60px
gutter-width = 30px
columns = 10

// text-color
text-dark  = #1d1f21;
text-fade  = #545a60;
text-light = #fafafa;
text-red   = #CC092F;

// texture
texture-light = t-cleantexture;
texture-dark = t-3pxtile;
